<!DOCTYPE html>
<html lang="en">
  <head class="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='images/favicon.ico')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/stylesheet.css') }}"
    />
  </head>
  <body class="body">
    <div>
      <div class="container">
        <header>
          <a href="/">
            <span>Aidan's Portfolio</span>
          </a>
          <ul>
            {% if g.user %}
            <li>
              <a>Hidden Nav Item</a>
            </li>
            {% endif %}
            <li>
              <a href="{{ url_for('resume.resume') }}">Resume</a>
            </li>
            <li>
              <a href="{{ url_for('projects.projects') }}">Projects</a>
            </li>
            <li>
              <a href="{{ url_for('contact.contact') }}">Contact</a>
            </li>
          </ul>
        </header>
      </div>
      <hr />
      <br />
      {% block body %} {% endblock %}
    </div>
  </body>
</html>
